---
import { Icon } from "astro-icon/components";

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface ScheduleItem {
  days: string;
  hours: string;
}

export interface Props {
  socialLinks: Array<Link>;
  schedule: Array<ScheduleItem>;
  footNote?: string;
}

const { socialLinks, schedule, footNote = "" } = Astro.props;
---

<footer
  class="relative border-t border-gray-200 text-white-ligth not-prose",

>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300">
    <div class="flex flex-col sm:flex-row gap-4 py-4">
      <div class="flex font-['Cormorant_Garamond'] font-semibold flex-col pb-8 md:pb-0">
        <h4 class="text-xl font-medium">Horario de apertura</h4>
        {
          schedule.map(({ days, hours }) => {
            return (
              <div class="flex flex-col pt-4">
                <span class="font-['Montserrat'] font-bold">{days}</span>
                <span class="font-['Montserrat'] font-medium">{hours}</span>
              </div>
            );
          })
        }
      </div>
      <div class="flex font-['Montserrat'] font-medium flex-col">
        <h4 class="text-xl font-['Cormorant_Garamond'] font-medium">Localización</h4>
        <span class="pt-4">Benavente Peluqueros,</span>
        <span class="pt-2 text-sm">Calle Panadés, 22,</span>
        <span class="pt-2 text-sm">28915, Leganés</span>
        <span class="pt-2 text-sm">Madrid</span>
      </div>
      <div class="sm:self-end md:flex md:items-center md:justify-between">
        {
          socialLinks?.length ? (
            <ul class="flex mb-4 md:order-1 md:mb-0 rtl:ml-0 rtl:-mr-2 rtl:md:ml-0 rtl:md:mr-4">
              {socialLinks.map(({ ariaLabel, href, text, icon }) => (
                <li>
                  <a
                    class="text-gray-400 hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center w-full max-w-[44px] h-full max-h-[44px]"
                    aria-label={ariaLabel}
                    href={href}
                  >
                    {icon && <Icon name={icon} class="w-5 h-5" />}
                    <Fragment set:html={text} />
                  </a>
                </li>
              ))}
            </ul>
          ) : (
            ""
          )
        }
      </div>
    </div>
  </div>
</footer>
